.main-container {
    margin: 100px;
}

#container-1, 
#container-2, 
#container-3, 
#container-4 {
    display: inline-block;
    position: relative;
    width: 200px;
    margin: 5px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 8px 2px grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
}

p{
    margin-top: 10;
    margin-bottom: 10px;
}

hr {
    width: 240px;
    height: 2px;
    margin-left: -20px;
}

hr, button {
    border: none;
}

.price {
    margin: 0;
    font-size: 48px;
}

p:nth-child(4) {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ddd5d0;
}

button {
    width: 100px;
    height: 35px;
    margin-top: 20px;
    border-radius: 10px;
    color: #ffffff;
}

#container-1 hr, #container-1 button {
    background-color: #c73756;
}

#container-2 hr, #container-2 button {
    background-color: #d7913b;
}

#container-3 hr, #container-3 button {
    background-color: #2b6689;
}

#container-4 hr, #container-4 button {
    background-color: #408d16;
}

#container-1:hover,
#container-2:hover,
#container-3:hover,
#container-4:hover {
    padding: 40px;
    margin: -8px;
    z-index: 1; 
    transition: .5s;
}

#container-1:hover > hr,
#container-2:hover > hr,
#container-3:hover > hr,
#container-4:hover > hr {
    width: 280px;
    margin-left: -40px;
    transition: .5s;
}
